.profileJobseekers{ /* gradient part purple in profile page */
  background: linear-gradient(
    to bottom,
    #5E50A1 16REM,
    #E5E5E5 16REM
  );
}

/* Profile Side Bar styling START */
.whiteBg{
  background-color: white;
  border-radius: 10px;
}
.whiteBg img{
  width: 50%;
}
.whiteBg .loc{ /* 'location logo' on side bar Profile*/
  width: 13%;
  height: fit-content;
}
.whiteBg .icon{ /* 'social media logo' on side bar Profile*/
  width: 70%;
  height: fit-content;
}
.h1SideBarProfile{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.h2SideBarProfile{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.pSideBarProfile{
  text-align: left;
  font-size: 12px;
  color: #9EA0A5;
}
.pSideBarProfile a{
  text-decoration: none;
  color: #9EA0A5;
}
.theTag{
  color: white;
  background-color: rgba(251, 176, 23, 0.6);
  border: 1px solid rgb(251, 176, 23);
  font-size: 12px;
  border-radius: 7px;
  padding: 6px 16px;
  margin: 0px 8px 10px 0px;
}
.titleEditProfile{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
/* Profile Side Bar styling END */

/* Button styling START */
.Button{
  width: 100%;
  border-radius: 5px;
  padding: 10px
}
.doit{
  font-size: 14px;
  font-weight: bold;
  background-color: #5E50A1;
  border: 1px solid  #5E50A1;
  /* border: 1px solid  white; */
}
.doit:hover{
  font-size: 18px;
  background-color: rgba(137, 207, 33, 0.8);
  border: 1px solid black;
}
.cancel{
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #5E50A1;
  color: #5E50A1;
}
.cancel:hover{
  font-size: 18px;
  background-color: rgba(219, 95, 23, 0.8);
  border: 1px solid black;
  color: white;
}
.skillbutton{
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #5E50A1;
  color: #5E50A1;
}
.skillbutton:hover{
  background-color: #5d50a1a0;
  border: 1px solid #5d50a1a0;
  color: white;
}
/* Button styling END */

/* Tabs Profile styling START */
.tabs {
  display: flex;
  flex-wrap: wrap;
}
.tabs__label {
  padding: 8px 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #9EA0A5;
}
.tabs__radio {
  display: none;
}
.tabs__content {
  order: 1;
  display: none;
}
.tabs__radio:checked + .tabs__label {
  color: #5E50A1;
  border-bottom: 4px solid #5E50A1;
}
.tabs__label:hover {
  color: #5d50a1a4;
  border-bottom: 3px solid #5d50a174;
}
.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}
/* Tabs Profile styling END */

/* Tab Porto styling START */
.portoPage img{
  width: 100%;
}
.portoPage .theTitle{
  font-size: 14px;
  font-weight: bold;
}
/* Tab Porto styling END */

/* Tab jobExp styling START */
.jobsExpPage img{
  width: 100%;
}
.jobsExpPage .theTitle{
  text-align: left;
  font-weight: bold;
}
.jobsExpPage .theComp{
  text-align: left;
}
.jobsExpPage .theDate{
  text-align: left;
  color: #9EA0A5;
  font-size: 12px;
}
.jobsExpPage .theDesc{
  text-align: left;
  font-size: 12px;
}
/* Tab jobExp styling END */