/* .landingPage{
}

container{
    background-color: red;
} */

h1{
    font-size: 30px;
    color: #2E266F;
}

img{
    max-width: 100%;
}

h4{
    text-align: left;
    /* margin-top: 200px;
    margin-bottom: 100px; */
}

.centering{
    align-content: center;
    margin-top: 35%;
}












