@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* font-family: 'inter'; */
*{
  font-family: 'inter';
 /*  */
}

.yellowIt{
  color: #EFC81A;
}
.App {
  text-align: center;
  /* background-color: gainsboro; */
  /* border: 1px solid red; */
}

.button{
  background-color: #EFC81A;
  border: none;
  color: white;
}

.textLeft{
  text-align: left;
}

.loginImage{
  max-height: min-content;
}

.right{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:brown; */
}


/* Left Background Login and Register START */
.left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.imageParent {
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgba(0,0,255,0.3);
  backdrop-filter: blur(5px);
}
.imageChild {
  position: absolute;
  /* top: 200;
  left: 200; */
  width: 30%;
  /* border: 1px solid red; */
}
/* Left Background Login and Register END */


/* Form Login and Register START */
/* .loginregister{
  border: 1px solid red;
} */
/* .loginForm { */
  /* vertical-align: center; */
  /* position: absolute; */
  /* margin-top: 300px; */
/* } */
/* .registerForm { */
  /* position: absolute; */
  /* margin-top: 200px; */
/* } */
.title{
  color: #EFC81A;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.descForm{
  color: #8692A6;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 13px;
}
.fontLabel{
  color: #696F79;
  font-size: 14px;
  font-weight: 300;
}
.forgotPassword{
  color: #999;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
}
.descBottomForm{
  color: #999;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}
/* Form Login and Register END */


h1{
  font-size: 30px;
  color: #2E266F;
  font-weight: bold;
}

h4{
  text-align: left;
  color: #2E266F;
}

.centering{
  align-content: center;
  margin-top: 35%;
}

.detailRecipeImage{
  width: 100%;
}

.mb-3{
  border-radius: 90px;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* Image{
} */

/* Home Page START */
.parentImagePages {
  position: relative;
  /* border: 1px solid black; */
}
.pic100{
  border-radius: 20px;
  width: 100%;
  border: 4px solid #EFC81A;
  overflow: hidden;
  /* height:fit-content; */
}
.picImagePages{
  border-radius: 20px;
  width: 100%;
}
.bottom-left-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: #2e266f;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .picImagePages{
    max-height: 240px;
    border: 2px solid #EFC81A;
  }
  .bottom-left-text {
    font-size: 0px;
  }
}
@media screen and (min-width: 576px) {
  .picImagePages{
    max-height: 240px;
    border: 2px solid #EFC81A;
  }
  .bottom-left-text {
    background-color: rgba(239, 200, 26, 0.4);
    border-radius: 20px;
    font-size: 18px;
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .picImagePages {
    border-radius: 20px;
    max-height: 210px;
  }
  /* .bottom-left-text {
    text-overflow: none;
  } */
}
@media screen and (min-width: 992px) {
  .picImagePages {
    max-height: 290px;
  }
  .bottom-left-text {
    font-size: 22px;
    left: 22px;
    /* background-color: rgba(239, 200, 26, 0); */
  }
}
@media screen and (min-width: 1200px) {
  .picImagePages {
    max-height: 355px;
  }
  .bottom-left-text {
    font-size: 22px;
  }
}
@media screen and (min-width: 1400px) {
  .picImagePages {
    max-height: 420px;
  }
  .bottom-left-text {
    font-size: 26px;
  }
}
/* Home Page END */


/* Footer START */
.footerTop{
  margin-top: 50px;
  background-color: #EFC81A;
}
.footerBottom{
  background-color: #EFC81A;
}
.footerP{
  font-size: 10px;
  color: #707070;
  text-decoration: none;
}
/* Footer END */





/* React Default CSS */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
